#quiz {
  width: 600px;
  height: 580px;
  margin: 5% auto 0 auto;
  padding: 20px 90px 0 90px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul>li {
  margin-bottom: 15px;
}

label {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 100;
}

label span {
  display: block;
  margin-left: 25px;
  margin-top: -20px;
}

button {
  float: right;
  margin-top: 80px;
}
