#question-panel {
  width: 800px;
  height: 570px;
  margin: 5% auto 0 auto;
  padding: 40px 90px 0 90px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul>li {
  margin-bottom: 15px;
}

label {
  font-size: 18px;
  font-weight: 100;
  line-height: 140%;
}

label span {
  display: block;
  margin-left: 25px;
  margin-top: -23px;
}

button {
  float: right;
  margin-top: 80px;
}

#feedback {
  width: 500px;
  height: 400px;
  padding: 5% 5% 0 5%;
  margin: 10% auto 0 auto;
}

tg-nav-button {
  float: right;
}
