<div id="quiz" class="card">
  <div *ngIf="!answerSubmitted" id="question-panel">
    <h2>Quiz</h2>
    <span id="warning" [innerHTML]="content.warning"></span>

    <span id="question" [innerHTML]="content.question"></span>

    <form (ngSubmit)="checkAnswer()">
      <input type="radio" name="quizAnswer" id="option1" [(ngModel)]="answer" value=1>
        <label for="option1"><span [innerHTML]="content.choiceA"></span></label>
      <input type="radio" name="quizAnswer" id="option2" [(ngModel)]="answer" value=2>
        <label for="option2"><span [innerHTML]="content.choiceB"></span></label>
      <button type="submit" [disabled]="answer === ''">Submit</button>
    </form>
  </div> <!-- #question-panel -->

  <div *ngIf="answerSubmitted" id="feedback">
    <div *ngIf="isChoiceA">
      <span [innerHTML]="content.feedbackA"></span>
      <tg-nav-button url="players-search" label="Proceed"></tg-nav-button>
    </div>

    <div *ngIf="!isChoiceA">
      <span [innerHTML]="content.feedbackB"></span>
    </div>
  </div> <!-- #feedback -->

</div> <!-- #quiz -->
