<div id="game"> 
    <h3>Round {{ trialNumber }}</h3>
    <div [hidden]="inTrial"id="opponents-panel"> 
        <button (click)="selectOpponent()">Choose Opponent</button>
        <ul>
        <li *ngFor="let opponent of oppSettings">
            <tg-opponent [id]="opponent.id" [meanProp]="opponent.meanProp" [name]="opponent.name" [directions]="opponent.directions"></tg-opponent>
        </li>
        </ul> 
    </div> <!-- #opponents-panel -->

    <div *ngIf="inTrial" id="trial-panel">
        <h2>Current Opponent : {{ opponent.player.name }}</h2>
        <div *ngIf="opponent">
            Current player: {{ opponent.player.id }} ({{ opponent.player.name }}), meanProp: {{ opponent.player.meanProp }}
        </div> 

        <form id="endowment" (ngSubmit)="setEndowment()">
            <input type="range" name="endowmentSlider" [(ngModel)]="this.endowment" min="0.1" max="1" value=".5" step=".1"> 
            <button type="submit" *ngIf="!endowmentSubmitted">Submit</button>
        </form>
        <h4>Endowment: {{ endowment }}</h4>
        <div *ngIf="endowmentSubmitted">
            <h4>Return: {{ oppReturn }} </h4>
            <p>You gave {{ opponent.player.name }} {{ endowment }}, and kept {{ (1 - endowment).toFixed(2) }} for yourself.</p>
            <p>{{ opponent.player.name }} returned {{ oppReturn }}.</p>
            <p>Your net gain on this trial is {{ netGain }}</p>
        </div>

        <button *ngIf="endowmentSubmitted" (click)="nextTrial()">Next Round</button>
    </div> <!-- #trial-panel -->

    <tg-nav-button url="code" label="Finish"></tg-nav-button>
</div> <!-- #game -->


