#opponents-panel {
  width: 1150px;
  margin: auto;
  padding: 2% 0 0 0;
}

#opponents-panel ul {
  list-style-type: none;
}

#opponents-panel li {
  float: left;
  margin-right: 70px;
}

#opponents-panel ul:last-child {
  margin-right: 0px;
}

#opponents {
  padding-left: 3.5%;
}

#opponent-button {
  clear: both;
  width: 200px;
  margin: auto;
  text-align: center;
}

#opponent-button button {
  margin-top: 20%;
  border-radius: 90%;
  width: 130px;
  height: 130px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
}

h4 {
  text-align: center;
  font-weight: 900;
  text-shadow: 2px 0 white;
  letter-spacing: 1px;
  margin: 0 0 15px 0;
  padding-top: 70px;
}

#round-num {
  margin: -60px auto 10px auto;
  width: 300px;
  height: 130px;
  border-radius: 40px;
  background-color: #FB907E;
  color: white;
  box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);

}




