<div id="game"> 
  <div *ngIf="!gameOver" id="game-panel">
    <div id="round-num"><h4>Round {{ trialNumber }}</h4></div>
    <div [hidden]="inTrial"id="opponents-panel"> 
      <div id="opponents">
        <ul>
          <li *ngFor="let opponent of oppSettings">
            <tg-opponent [id]="opponent.id" [meanProp]="opponent.meanProp" [name]="opponent.name" [directions]="opponent.directions" [img]="opponent.img"></tg-opponent>
          </li>
        </ul> 
      </div> <!-- #opponents -->
      <div id="opponent-button"><button (click)="selectOpponent()">Select Player</button></div>
    </div> <!-- #opponents-panel -->

    <div *ngIf="inTrial" id="trial-panel">
      <div id="participant" class="card player">
        <div class="player-info">
          <img [src]="playerImgPath">
          <div class="player-name">{{ curParticipantService.name }}</div>
        </div>
      </div> <!-- #participant -->

      <div *ngIf="!endowmentSubmitted" id="interactive-panel" class="card">
        <div>
          <p>How much would you like to invest?</p>
          <form id="endowment" (ngSubmit)="setEndowment()">
            <input type="range" name="endowmentSlider" [(ngModel)]="this.endowment" min="0.1" max="1" value=".5" step=".1"> 
            <div id="endowment-amount">{{ endowment }}</div>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div> <!-- #interactive-panel -->

      <div *ngIf="endowmentSubmitted" id="feedback" class="card">
        <p>You invested {{ endowment }} in {{ opponent.player.name }}, and kept {{ (1 - endowment).toFixed(2) }} for yourself.</p>
        <p>{{ opponent.player.name }} returned {{ oppReturn }} to you.</p>
        <p>Your net gain during this round is</p>
        <h4>{{ (1 - endowment).toFixed(2) }} + {{ oppReturn }} = {{ netGain }}</h4>
        <button (click)="nextTrial()">Next Round</button>
      </div> <!-- #feedback -->

      <div id="opponent" class="card player">
        <div class="player-info">
          <img [src]="opponent.img">
          <div class="player-name" [ngStyle]="{'background-color': opponent.player.id === 1 ? '#9ee64f' : opponent.player.id === 2 ? '#ffc900' : '#ff8411'}">
            {{ opponent.player.name }}
          </div>
        </div>
      </div>  <!-- #opponent -->

    </div> <!-- #trial-panel -->
  </div> <!-- #game-panel -->
  
  <div *ngIf="gameOver" id="game-over-panel">
    <h4>Congratulations! You have completed the game.</h4>
    <tg-nav-button url="payoff" label="Proceed"></tg-nav-button>
  </div> <!-- #game-over -->
</div> <!-- #game -->


