#opponents-panel {
  width: 1150px;
  margin: auto;
  padding: 2% 0 0 0;
}

#opponents-panel ul {
  list-style-type: none;
}

#opponents-panel li {
  float: left;
  margin-right: 70px;
}

#opponents-panel ul:last-child {
  margin-right: 0px;
}

#opponents {
  padding-left: 3.5%;
}

#opponent-button {
  clear: both;
  width: 200px;
  margin: auto;
  text-align: center;
}

#opponent-button button {
  margin-top: 20%;
  border-radius: 90%;
  width: 130px;
  height: 130px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
}

h4 {
  text-align: center;
  font-weight: 900;
  text-shadow: 2px 0 white;
  letter-spacing: 1px;
  margin: 0 0 15px 0;
  padding-top: 70px;
}

#trial-panel {
  width: 1190px;
  margin: 5% auto 0 auto;
  padding-left: 4%;
}

#participant, #interactive-panel, #feedback, #opponent {
  float: left;
  margin-right: 60px;
}

#interactive-panel, #feedback {
  width: 450px;
  height: 380px;
}

#participant .player-name {
  background-color: #8200C7;
}

#interactive-panel, #feedback {
  box-sizing: border-box;
  padding: 3% 4% 0 4%;
}

#interactive-panel p {
  font-size: 20px;
}

#endowment-amount {
  font-family: 'Raleway';
  font-size: 50px;
  text-align: center;
  margin-bottom: 70px;
  color: #444;
}

input[type=range] {
  width: 325px;
  text-align: center;
  margin-bottom: 30px;
}

#interactive-panel button,
#feedback button {
  float: right;
}

#feedback h4 {
  padding: 10px 0 20px 0;
}

#round-num {
  margin: -60px auto 10px auto;
  width: 300px;
  height: 130px;
  border-radius: 40px;
  background-color: #FB907E;
  color: white;
  box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 25px 1px rgba(0,0,0,0.75);
}





