<div id="game"> 
  <div *ngIf="!gameOver" id="game-panel">
    <div id="round-num"><h4>Round {{ trialNumber }}</h4></div>
    <div [hidden]="inTrial"id="opponents-panel"> 
      <div id="opponents">
      <ul>
        <li *ngFor="let opponent of oppSettings">
          <tg-opponent [id]="opponent.id" [meanProp]="opponent.meanProp" [name]="opponent.name" [directions]="opponent.directions" [img]="opponent.img"></tg-opponent>
        </li>
      </ul> 
      </div>
      <div id="opponent-button"><button (click)="selectOpponent()">Select Player</button></div>
    </div> <!-- #opponents-panel -->

    <div *ngIf="inTrial" id="trial-panel">
      <div id="opponent">
        <h2>{{ opponent.player.name }}</h2>
      </div>  <!-- #opponent -->

      <div id="participant">
        <h2>Your Name</h2>
      </div> <!-- #participant -->

      <div *ngIf="!endowmentSubmitted" id="interactive-panel">
        <p>How much would you like to invest?</p>
        <form id="endowment" (ngSubmit)="setEndowment()">
          <span id="endowment-amount">{{ endowment }}</span>
          <input type="range" name="endowmentSlider" [(ngModel)]="this.endowment" min="0.1" max="1" value=".5" step=".1"> 
          <button type="submit">Submit</button>
        </form>
      </div> <!-- #interactive-panel -->

      <div *ngIf="endowmentSubmitted" id="feedback">
        <p>You invested {{ endowment }} in {{ opponent.player.name }}, and kept {{ (1 - endowment).toFixed(2) }} for yourself.</p>
        <p>{{ opponent.player.name }} returned {{ oppReturn }} to you.</p>
        <p>Your net gain during this round is</p>
        <h4>{{ (1 - endowment).toFixed(2) }} + {{ oppReturn }} = {{ netGain }}</h4>
        <button (click)="nextTrial()">Next Round</button>
      </div> <!-- #feedback -->
    </div> <!-- #trial-panel -->
  </div> <!-- #game-panel -->
  
  <div *ngIf="gameOver" id="game-over-panel">
    <h4>Congratulations! You have completed the game.</h4>
    <tg-nav-button url="payoff" label="Proceed"></tg-nav-button>
  </div> <!-- #game-over -->
</div> <!-- #game -->


