#opponent-search {
  width: 550px;
  height: 450px;
  margin: 10% auto 0 auto;
  box-sizing: border-box;
  padding-left: 5%;
  padding-right: 5%;
}

#finding-opponent {
  padding-top: 40%;
  width: 200px;
  margin: auto;
}

#opponent-found {
  padding-top: 20%;
  width: 325px;
  margin: auto;
}

#opponent-found div {
  width: 150px;
  text-align: center;
  margin: auto;
  font-size: 35px;
}

#nav-button {
  padding-top: 20px;
}

tg-nav-button {
  width: 200px;
  margin: auto;
  padding-top: 50px;
}

