<div id="instructions">
  <!--  <tg-instruction *ngIf="page === 1" [page]="test.page" [text]="test.text"  (pageChange)="pageChange($event)"></tg-instruction> -->
  <div *ngFor="let instruction of instructions">
    <tg-instruction *ngIf="page === instruction.page" [page]="instruction.page" [text]="instruction.text" [imgSrc]="instruction.img" [maxPage]="maxPage" (pageChange)="pageChange($event)"></tg-instruction>
  </div>

  <tg-nav-button *ngIf="page === maxPage" url="quiz" label="Go to Quiz"></tg-nav-button>
</div> <!-- #instructions -->
