/* Global styles */
 
@import url('https://fonts.googleapis.com/css?family=Raleway|Corben');

[hidden] {
  display: none !important;
}

html {
  background-color: #FB907E;
}

h1, h2, h3 {
  font-family: 'Corben', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: #222;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  color: #444;
  text-shadow: 1px 0 #444;
  letter-spacing: 1px;
  margin: 0 0 15px 0;
  line-height: 1.5em;
}

button {
  width: 120px;
  height: 35px;
  border: none;
  background-color: #FB907E;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Raleway';
}

button:hover {
  background-color: #444;
  cursor: crosshair;
}

